<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>SCOR.icns</string>
			<key>CFBundleTypeName</key>
			<string>Score</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SCOR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NSET.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nightingale Prefs</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NSET</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NHLP.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nightingale Help</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NHLP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>EPSF.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nightingale EPS File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>EPSF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Midi.icns</string>
			<key>CFBundleTypeName</key>
			<string>MIDI File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Midi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NGNL.icns</string>
			<key>CFBundleTypeName</key>
			<string>NoteList File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NGNL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Nightingale version 6.0, Copyright © 2023 by AMNF.  All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>APPL.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.amns.nightingale</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>Nightingale version 6.0 Build B43</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>20210320</string>
	<key>CFBundleSignature</key>
	<string>BYRD</string>
	<key>CFBundleVersion</key>
	<string>6.0.B43</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
</dict>
</plist>
